@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

:root {
    --primary-color: #2e3192;
    --secondary-color: #252775;
    --primary-font: 'Inter';
}

* {
    font-family: var(--primary-font);
}

input.input,
textarea.input {
    font-family: var(--primary-font);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > section.section {
    padding-top: 5rem;
}

body > section.hero {
    padding-top: 3rem;
}

.hero-bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('../img/landing.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.primary-color {
    color: var(--primary-color);
}

.primary-font {
    font-family: var(--primary-font);
}

.transition {
    transition: all ease-in 0.3s;
}

.welcome-button {
    font-family: var(--primary-font);
}

.button.is-primary.is-inverted.is-outlined.welcome-button:hover,
.button.is-primary.is-inverted.is-outlined.welcome-button:focus {
    color: black;
}

.navbar-item.logo-title:hover {
    color: var(--primary-color);
}

.ss-form {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.reload-button {
    pointer-events: all;
}

figure.event-image {
    height: 220px;
    min-width: 330px;
    background-size: 100%;
    background-color: #f0f0f0;
    background-position-x: center;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

figure.event-image:hover {
    background-size: 120%;
}

.card.event-card .media-left {
    flex-basis: 35%;
}

.card.person-card,
.card.person-card * {
    background: transparent;
}

.card.person-card {
    margin-right: 2rem;
    margin-left: 2rem;
}

.card.person-card figure img {
    border-radius: 50%;
    max-width: 50%;
    min-width: 128px;
}

.card.person-card .media-left {
    margin-right: 2rem;
}

.card.person-card .media-content p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .card.event-card .media,
    .card.person-card .media {
        flex-direction: column;
    }
    .card.event-card .media-left,
    .card.person-card .media-left {
        width: 100%;
    }
    .card.event-card .media-content,
    .card.person-card .media-content {
        margin-top: 1rem;
    }
    .card.person-card .media-content .title {
        text-align: center;
    }
    .card.person-card .media-left figure {
        margin: 0 auto;
    }

    .ss-form {
        width: 100%;
        min-width: 0px;
    }    

}

div.date-placeholder {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    background: rgba(255,255,255,0.7);
}

div.date-placeholder span:nth-child(1),
div.date-placeholder span:nth-child(3) {
    font-size: 0.7em;
}

div.date-placeholder span:nth-child(2) {
    font-size: 1.5em;
}

[v-cloak] {display: none}

.gallery-tiles img.image {
    width: 100%;
    padding: .5rem;
}

p.content {
    font-weight: lighter;
    line-height: 1.5;
}

a.navbar-item.is-tab.is-active {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

a.navbar-item:hover {
    color: var(--primary-color);
}

.button.is-primary {
    background-color: var(--primary-color);
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:disabled {
    background-color: var(--secondary-color);
}

.button.is-primary:focus:not(:active) {
    box-shadow: none;
}

.modal.modal-event-image .modal-content {
    overflow: hidden;
    text-align: center;
}

.modal.modal-event-image img {
    max-height: 100%;
    max-width: 100%;
}

.social-icon-container svg {
    width: 24px;
    height: 24px;
    margin: 8px;
    fill: #aaa;
}

.social-icon-container svg:hover {
    fill: #666;
}

footer.footer {
    color: #aaa;
    margin-top: auto;
}


/* transition fade effects */
body > section,
.fade-enter-active, .fade-leave-active {
    transition: opacity ease-in .4s;
}

body > section.hero-bg {
    transition: opacity ease-in .6s;
}

body.fade > section,
.fade-enter, .fade-leave-to {
    opacity: 0;
}
